<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogToConsole="false"
	  internalLogLevel="Trace">
  <variable name="logDirectory" value="C:\Logs\FsNet"/>
  <extensions>
  </extensions>
  <targets>
    <target xsi:type="File"
			name="write2File"
			layout="${date} [${pad:padCharacter=0:padding=5:fixedLength=true:inner=${threadid}}] ${logger} ${level} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method, stacktace}${newline}}"
			filename="${logDirectory}\${date:format=yyyy-MM-dd}\${date:format=hh}.txt"
			keepFileOpen="false"
      async="true"
			encoding="UTF-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="write2File" />
  </rules>
</nlog>